/* Define css color variables */
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --ss_green: #043927;
    --ss_gold: #C4B581;
}

h1, h2, h3 {
    margin-top: 100px;
    padding: 10px 0 10px 0;
}

h1.title {
    margin-top: 20px;
}

/* img {
    /* width: 75%; */
    /* height: 4rem; */
    /* padding: 5px; */

.bottom-padding {
    padding-bottom: 100px;
}

.column{
        float: left;
        width: 33.33%;
        padding: 3px;
}

.page-spacing {
    padding: 0 20px 0 20px;
    background: var(--ss_green);
    color: var(--ss_gold);
    font-size: 1.1vw;
}

.row::after{
    content: "";
    clear: both;
}

